.App {
    border: 1px solid #3d3d3d;
    margin: 50px 30px;
    padding: 25px 15px;
}

.todo_container {
    display: flex;
    flex-direction: column;
}

.todo_container ul li {
    width: 170px;
    overflow-wrap: break-word;
    list-style-type: "✏️";
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trach {
    cursor: pointer;
}